<a href="https://colab.research.google.com/github/scontractor/congenial-sniffle/blob/main/CPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas is a very useful library to handle data within your python environment. In a first step, we will introduce you how to input and output data. This is useful, as you can later on work with different applications on your pre-processed data.

# Data Input and Output

In [ ]:
# Installing the packages
import numpy as np
import pandas as pd

### In Colab, we have to do a little trick to use our local files!

In [ ]:
from google.colab import files

uploaded = files.upload() # Choose the downloaded file: Excel_Sample.xlsx

Saving Excel_Sample.xlsx to Excel_Sample.xlsx

In [ ]:
import io
df = pd.read_excel(io.BytesIO(uploaded['Excel_Sample.xlsx']))
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

## CSV

### CSV Input

As this can take a while, here is a where is Waldo image for you to pass the time!

* Image: https://images-na.ssl-images-amazon.com/images/I/91Wo0F3AcML.jpg

In [ ]:
uploaded = files.upload() 
df = pd.read_csv(io.BytesIO(uploaded['Salaries.csv']))
df

MessageError: ignored

In [ ]:
uploaded

{'Excel_Sample.xlsx': b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00!\x00\xaaL\x9a\x94\xc2\x01\x00\x00\xc3\x04\x00\x00\x18\x00\x00\x00xl/worksheets/sheet1.xml\x8d\x94Mo\xdc \x10\x86\xef\xfd\x15\x88{\x17\x7f\xac\x93te;\xcaf7j\x0f\x91\xaa~\xe4\xce\xdac\x1b\xc5\x06\x0b\xc8n\xfb\xef\x03\xc6\xd9:,\x8az\x83w\xde\x99y\x06\x83\xf3\xdb?C\x8f\x8e \x15\x13\xbc\xc0\xf1*\xc2\x08x%j\xc6\xdb\x02\xff\xfe\xf5\xf0\xf9\x06#\xa5)\xafi/8\x14\xf8/(|[~\xcaOB>\xab\x0e@#S\x80\xab\x02wZ\x8f\x1bBT\xd5\xc1@\xd5J\x8c\xc0M\xa4\x11r\xa0\xdaleK\xd4(\x81\xd6S\xd2\xd0\x93$\x8a\xae\xc8@\x19\xc7\xae\xc2F\xfeO\r\xd14\xac\x82\x9d\xa8^\x06\xe0\xda\x15\x91\xd0Sm\xf0U\xc7F\x85\xcb\xbcf&f\xe7A\x12\x9a\x02\xdf\xc5\x9b}\x86I\x99O\x9d\x9f\x18\x9c\xd4b\x8d4=\xfc\x84\x1e*\r\xb5\x99\x1f#;\xd8A\x88g\x1b\xfcf\xa4\xc8\xa6\x92\x8b\xdc\x87\t\xea\xbbD54\xf4\xa5\xd7?\xc4\xe9+\xb0\xb6\xd3\xa6\xc8\xbfn;\xaai\x99KqBr*\xaeFj\xcf*\xded\x86\xb3\xb2\xe2\xd6\xaaS\xccdZ\xfac\x19\xe5\xe4hZV\xb3\xe3\xfe\xd2\x11\xbfw\xec.\x1d\xc9{\xc7\xfe\xd2\x91\x9e\x1d\xc4\xf0\x9d!\x93\x10\xe4]2\xa7\x07\xf0\xb6I\x10:\t\x82&A\xb8\xe4#\xa04\x08\x94.\x80\xbc&\xdbtR\xd7\x1e\x90S3\x0f\xc8\xa9W\x1e\x90S\xaf\xc3@\xeb \xd0z\x01\xe4\xcd\xb7]O\xea\x8d\x07\xe4\xd4/\x1e\x90Sc\xef8\xf7\xb3\x1c\x87\x91\xb2 R\xb6@J=\xa4\xcc\xd5\xf3H\xefg\xd9s\xeff\xd9;\xd2\xfd,g\x1e\x14Y\\\xfd\x91\xb6\xf0He\xcb\xb8B=4\xe6\xf6E\xabk\x8c\xa4{)\xd3Z\x8bqZ\x19\xdc\x83\xd0Z\x0co\xbb\xce\xfc-@\xda\x9d\xf9\xda\x8d\x10\xfamc\x1f\xe4\xf9\xffS\xbe\x02PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00!\x00\x83\x18j%H\x01\x00\x00&\x02\x00\x00\x0f\x00\x00\x00xl/workbook.xml\x8dQ\xcbN\xc30\x10\xbc\xf3\x15\xd6\xdei\x1ej#Z5\xa9\xc4KTB\x80Di\xcf&\xde4V\x1d;\xb2\x1d\xd2\xfe=\xebT)p\xe3\xb43\xe3\xdd\xd1\xcez\xb9:6\x8a}\xa1u\xd2\xe8\x1c\x92I\x0c\x0cui\x84\xd4\xfb\x1c>6\x8f\xd77\xc0\x9c\xe7Zpe4\xe6pB\x07\xab\xe2j\xd9\x1b{\xf84\xe6\xc0h^\xbb\x1cj\xef\xdbE\x14\xb9\xb2\xc6\x86\xbb\x89iQ\xd3Kel\xc3=Q\xbb\x8f\\k\x91\x0bW#\xfaFEi\x1cgQ\xc3\xa5\x86\xb3\xc3\xc2\xfe\xc7\xc3T\x95,\xf1\xde\x94]\x83\xda\x9fM,*\xeei{W\xcb\xd6A\xb1\xac\xa4\xc2\xed9\x10\xe3m\xfb\xc2\x1bZ\xfb\xa8\x80)\xee\xfc\x83\x90\x1eE\x0eS\xa2\xa6\xc7?\x82\xed\xda\xdbN\xaa@f\xf1\x0c\xa2\xe2\x12\xf2\xcd2\x81\x15\xef\x94\xdf\xd0j\xa3;\x9d+\x9d\xa6i\x16:C\xd7Vb\xef~\x86\x02e\xc7\x9d\xd4\xc2\xf49\xa4S\xba\xecid\xc9\x0cX?\xe0\x9d\x14\xbe&!\x8b\xe7\x17\xed\t\xe5\xbe\xf69\xcc\xb3,\x0e\xe6\xd1/\xf7\xe1~cez\x08\xf7\x1epB\xff\x14\xea\x9a\xf6\'l\x17\x92\x80]\x8bdp\x18\xc7J\xaeJJ\x13\xca\xd0\x98Ng\xc9\x1cX\xd5)uG\xda\xab~6|0\x08Cc\x92\xe2\x1bPK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00!\x00\xaf\xfeX0\x9d\x00\x00\x00\xe3\x00\x00\x00\x14\x00\x00\x00xl/sharedStrings.xml]\xceA\n\xc20\x10\x85\xe1\xbd\xa7\x08\xb3\xb7\xa9""\x92\xa4\x0b\xc1\x13\xe8\x01b2\xda@3\xa9\x9d\xa9\xe8\xed\xad\x88\x08]\xfe\xdf\xf0`L\xf3\xcc\x9dz\xe0\xc0\xa9\x90\x85UU\x83B\n%&\xbaY8\x9f\x8e\xcb\x1d(\x16O\xd1w\x85\xd0\xc2\x0b\x19\x1a\xb70\xcc\xa2\xa6)\xb1\x85V\xa4\xdfk\xcd\xa1\xc5\xec\xb9*=\xd2t\xb9\x96!{\x99r\xb8i\xee\x07\xf4\x91[D\xc9\x9d^\xd7\xf5Vg\x9f\x08T(#\x89\x85\r\xa8\x91\xd2}\xc4\xc3\xaf\x9d\xe1\xe4\x8c8o\xb48\xa3?\xf1\x85\xcb\x1c\xc2\x1c\xe2\x1f\xf4\xf4\xa5{\x03PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00!\x00^\xba\xa7\xd3w\x01\x00\x00\x10\x03\x00\x00\x10\x00\x00\x00docProps/app.xml\x9d\x92\xc1N\xeb0\x10E\xf7|E\xe4=uR!\xf4T9F\xa8\x80X\xf0D\xa5\x16X\x1bg\xd2X8\xb6\xe5\x19\xa2\x96\xaf\xc7I\xd5\x90\x02+\xb2\xba3su}2\xb6\xb8\xda\xb56\xeb \xa2\xf1\xaed\xc5,g\x198\xed+\xe3\xb6%{\xda\xdc\x9d\xffc\x19\x92r\x95\xb2\xdeA\xc9\xf6\x80\xecJ\x9e\x89U\xf4\x01"\x19\xc0,%8,YC\x14\x16\x9c\xa3n\xa0U8Kc\x97&\xb5\x8f\xad\xa2T\xc6-\xf7um4\xdcx\xfd\xde\x82#>\xcf\xf3K\x0e;\x02WAu\x1e\xc6@vH\\t\xf4\xd7\xd0\xca\xeb\x9e\x0f\x9f7\xfb\x90\xf2\xa4\xb8\x0e\xc1\x1a\xad(\xfd\xa4\xfcot\xf4\xe8k\xcanw\x1a\xac\xe0\xd3\xa1HAk\xd0\xef\xd1\xd0^\xe6\x82OK\xb1\xd6\xca\xc22\x05\xcbZY\x04\xc1\xbf\x1a\xe2\x1eT\xbf\xb3\x952\x11\xa5\xe8h\xd1\x81&\x1f34\x1fiks\x96\xbd*\x84\x1e\xa7d\x9d\x8aF9b\x07\xdb\xa1\x18\xb4\rHQ\xbe\xf8\xf8\x86\r\x00\xa1\xe0cs\x90S\xefT\x9b\x0bY\x0c\x86$N\x8d|\x04I\xfa\x14qc\xc8\x02>\xd6+\x15\xe9\x17\xe2bJ<0\xb0\t\xe3\xba\xe7+~\xf0\x1dO\xfa\x96\xbd\xf4mP.-\x90\x8f\xea\xc1\xb87|\n\x1b\x7f\xa3\x08\x8e\xeb<m\x8au\xa3"T\xe9\x06\xc6u\x8f\rq\x9f\xb8\xa2\xed\xfd\xcbF\xb9-TG\xcf\xcfA\x7f\xf9\xcf\x87\x07.\x8b\xf9,O\xdfp\xe7\xc7\x9e\xe0_oY~\x02PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00!\x00\x90\xe9r\xf4%\x01\x00\x00P\x02\x00\x00\x11\x00\x00\x00docProps/core.xml\x9d\x92\xcdj\xc30\x10\x84\xef}\n\xa3\xbb-\xcb\xa6\xa1\x15\xb6\x03m\xc9\xa9\x81BSZr\x13\xd2&\x11\xb5~\x90\xd4:y\xfb\xcaN\xe2$\xe0S\x8f\xab\x99\xfdvvQ5\xdf\xab6\xf9\x05\xe7\xa5\xd15"Y\x8e\x12\xd0\xdc\x08\xa9\xb75\xfaX-\xd2\x07\x94\xf8\xc0\xb4`\xad\xd1P\xa3\x03x4o\xee*n)7\x0e\xde\x9c\xb1\xe0\x82\x04\x9fD\x90\xf6\x94\xdb\x1a\xedB\xb0\x14c\xcfw\xa0\x98\xcf\xa2CGqc\x9cb!\x96n\x8b-\xe3\xdfl\x0b\xb8\xc8\xf3\x19V\x10\x98`\x81\xe1\x1e\x98\xda\x91\x88NH\xc1G\xa4\xfdq\xed\x00\x10\x1cC\x0b\nt\xf0\x98d\x04_\xbc\x01\x9c\xf2\x93\r\x83r\xe5T2\x1c,LZ\xcf\xe2\xe8\xde{9\x1a\xbb\xae\xcb\xbar\xb0\xc6\xfc\x04\x7f-_\xdf\x87US\xa9\xfbSq@M%8\xe5\x0eX0\xae\xa9\xf0u\x11\x0f\xd72\x1f\x96\xf1\xc4\x1b\t\xe2\xe9\x10\xf5\x89\xb7\xd3"\xc7>\x10I\x0c@\x8fq\xcf\xcag\xf9\xfc\xb2Z\xa0\xa6\xc8\xc9cJ\xf2\xb4\xb8_\x91\x92\x92\x19\xcd\xcbu?\xf2\xa6\xff\x02T\xa7!\xff&\x9e\x01\xc7\xdc\xb7\x9f\xa0\xf9\x03PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00!\x00a]I:O\x01\x00\x00\x8f\x04\x00\x00\x13\x00\x00\x00[Content_Types].xml\xad\x94\xcbn\xc20\x10E\xf7\xfd\x8a\xc8\xdb*1tQU\x15\x81E\x1f\xcb\x16\xa9\xf4\x03\\{B,\x1c\xdb\xf2\x0c\x14\xfe\xbe\x93\xf0P[Q\xa0\x82M\xacd\xee\xdcs\xc7\x8e<\x18-\x1b\x97- \xa1\r\xbe\x14\xfd\xa2\'2\xf0:\x18\xeb\xa7\xa5x\x9f<\xe7w"CR\xde(\x17<\x94b\x05(F\xc3\xab\xc1d\x15\x013n\xf6X\x8a\x9a(\xdeK\x89\xba\x86Fa\x11"x\xaeT!5\x8a\xf85MeTz\xa6\xa6 oz\xbd[\xa9\x83\'\xf0\x94S\xeb!\x86\x83G\xa8\xd4\xdcQ\xf6\xb4\xe4\xcf\xeb \t\x1c\x8a\xeca-lY\xa5P1:\xab\x15q].\xbc\xf9E\xc97\x84\x82;;\r\xd66\xe25\x0b\x84\xdcKh+\x7f\x036}\xaf\xbc3\xc9\x1a\xc8\xc6*\xd1\x8bjX%M\xd0\xe3\x14"J\xd6\x17\x87]\xf6\xc4\x0cUe5\xb0\xc7\xbc\xe1\x96\x02\xda@\x06L\x1e\xd9\x12\x12Y\xd8e>\xc8\xd6!\xc1\xff\xe1\xdb=j\xbbO$.\x9dDZ9\xc0\xb3G\xc5\x98@\x19\xac\x01\xa8q\xc5\xda\xf4\x08\x99\xf8\x7f\x82\xf5\xb3\x7f6\xbf\xb39\x02\xfc\x0ci\xf6\x11\xc2\xec\xd2\xc3\xb6k\xd1(\xebO\xe0wb\x94\xddr\xfe\xd4?\x83\xec\xfc\x8f\x1dy\xad\x12\x987J|\r\\\xfc\xe4\xbf{os\xc8\xee>\x19~\x01PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00!\x00i\xae\x84\x18\xfb\x01\x00\x00=\x05\x00\x00\r\x00\x00\x00xl/styles.xml\xbdT\xdf\x8b\x9c0\x10~\xef_\x11\xf2~\xe7*\xf4h\x8bz\xf4\n\x0b\x85\xb6\x14n\x0b}\x8d\x1a5\x90\x1f\x92\x8c\x8b\xde_\xdfI\xe2\xaa\x0bw,\xdcC_\xcc\xcc\xe4\x9bof\xbe\xc4\xe4\x8f\x93\x92\xe4\xcc\xad\x13F\x174\xbd?P\xc2um\x1a\xa1\xbb\x82\xfe9\x1d\xef>Q\xe2\x80\xe9\x86I\xa3yAg\xee\xe8c\xf9!w0K\xfe\xdcs\x0e\x04\x19\xb4+h\x0f0|I\x12W\xf7\\1wo\x06\xaeq\xa75V1@\xd7v\x89\x1b,g\x8d\xf3IJ&\xd9\xe1\xf0\x90(&4-\xf3\xd6hp\xa46\xa3\x86\x82fK\xa0\xcc\xdd\x0b93\x89m\xa54)\xf3\xdaHc\t =\xf6\x11"\x9a)\x1e\x11\xdf\x98\x14\x95\x15>\xd82%\xe4\x1c\xc3\x99\x0f\x84\x8e\x16\x9c\x12\xdaX\x1fLb\x85\xf8\xad\x92\xffQ+,\x0e\x93\x84\x94\xd7\xc3b\xa0\xcc\x07\x06\xc0\xad>\xa2C\x16\xfb4\x0fX^\xa3\xf0\x91&\xe0n\xa0;\xcb\xe64\xfb\xb8K\x08\x0b\xd6\xad\x8cm\xf0\xa0\xf7\x95c\xa8\xcc%o\x01\x13\xac\xe8z\xbf\x82\x19\x12\xbf\t`\x14\x1a\x8d`\x9d\xd1Lz\xcaK\xc6>\x93\x84\xcbPP\xe8\xc3aF\xed\xd8\x08f\x91.\xf1\xa0\x85\xfd&6\xa0B\x0b7\xa1\x88\xb9ty\x13\x1ba\xaf\xcf\xb2\x18(Q\xcd\xa5|\xf6L\x7f\xdbU\xa7\x14\xf9\xa6\x96\xe8Q\x1d\x15|o\n\x8a\xbf\x88?\xc9\x8b\x89\xe2.f\xa4\x89\x8e\xe7\xdf\xb3E\xee\x1dm\xf6.Z2\xb5+\xff[\xd9\xe9\x1b\xd9\xe9\x96M\xd80\xc8\xf9h\xe2|\xd1{\n\xc0\xcd\xff*E\xa7\x15\xbfH\xc0..\xe9\x8d\x15/\x98\xea\xefx\x8d\x01n\xa9\x7fA@\xd4>\x82\x87\x12\x86\x9f\xdaE\x81u\xf8 \xc5\x95\xack\x94\xf8\xbf\xab\xa0\xbf\xfcc!wmV\xa3\x90 \xf4+\x92"g3mj\x86]`\x15\xbeIWU\x90\xa3\xe1-\x1b%\x9c\xd6\xcd\x82n\xf6O\xde\x88Q}^Q\xbf\xc5\xd9\xc0\x82\xda\xec\x1f\xfeN\xa6\x0f\xa1\x83\xed\xe1+\xff\x01PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00!\x00\x18\xfaFT\xb0\x05\x00\x00R\x1b\x00\x00\x13\x00\x00\x00xl/theme/theme1.xml\xedYM\x8f\xdbD\x18\xbe\xf3+F\xbe\xb7\x8e\x13;\xcd\xae\x9a\xad6\xd9\xa4\x85\xed\xb6\xab\xdd\xb4\xa8\xc7\x89=\xb1\xa7\x19{\xac\x99\xc9nsC\xed\x11\t\tQ\x10\x17$n\x1c\x10P\xa9\x95\xb8\x94_\xb3P\x04E\xea_\xe0\xf5G\x92\xf1f\xb2\xcd\xb6\x8b\x00\xb59$\x9e\xf1\xf3~\x7f\xf8\x1d\xe7\xea\xb5\x071CGDH\xca\x93\xb6\xe5\\\xaeY\x88$>\x0fh\x12\xb6\xad;\x83\xfe\xa5\x96\x85\xa4\xc2I\x80\x19OH\xdb\x9a\x12i]\xdb\xfa\xe0*\xdeT\x11\x89\t\x02\xf2Dn\xe2\xb6\x15)\x95n\xda\xb6\xf4a\x1b\xcb\xcb<%\t\xdc\x1bq\x11c\x05K\x11\xda\x81\xc0\xc7\xc06fv\xbdVk\xda1\xa6\x89\x85\x12\x1c\x03\xd7\xdb\xa3\x11\xf5\t\x1ad,\xad\xad\x19\xf3\x1e\x83\xafD\xc9l\xc3g\xe2\xd0\xcf%\xea\x1496\x18;\xd9\x8f\x9c\xca.\x13\xe8\x08\xb3\xb6\x05r\x02~< \x0f\x94\x85\x18\x96\nn\xb4\xadZ\xfe\xb1\xec\xad\xab\xf6\x9c\x88\xa9\x15\xb4\x1a]?\xff\x94t%A0\xae\xe7t"\x1c\xce\t\x9d\xbe\xbbqeg\xce\xbf^\xf0_\xc6\xf5z\xbdn\xcf\x99\xf3\xcb\x01\xd8\xf7\xc1Rg\t\xeb\xf6[Ng\xc6S\x03\x15\x97\xcb\xbc\xbb5\xaf\xe6V\xf1\x1a\xff\xc6\x12~\xa3\xd3\xe9x\x1b\x15|c\x81w\x97\xf0\xadZ\xd3\xdd\xaeW\xf0\xee\x02\xef-\xeb\xdf\xd9\xeev\x9b\x15\xbc\xb7\xc07\x97\xf0\xfd+\x1bM\xb7\x8a\xcfA\x11\xa3\xc9x\t\x9d\xc5s\x1e\x999d\xc4\xd9\r#\xbc\x05\xf0\xd6,\x01\x16([\xcb\xae\x82>Q\xabr-\xc6\xf7\xb9\xe8\x03 \x0f.V4Aj\x9a\x92\x11\xf6\x01\xd7\xc5\xf1PP\x9c\t\xc0\x9b\x04kw\x8a-_.me\xb2\x90\xf4\x05MU\xdb\xfa(\xc5P\x11\x0b\xc8\xab\xe7?\xbcz\xfe\x14\xbdz\xfe\xe4\xe4\xe1\xb3\x93\x87?\x9f<zt\xf2\xf0\'\x03\xe1\r\x9c\x84:\xe1\xcb\xef>\xff\xeb\x9bO\xd0\x9fO\xbf}\xf9\xf8K3^\xea\xf8\xdf~\xfc\xf4\xd7_\xbe0\x03\x95\x0e|\xf1\xd5\x93\xdf\x9f=y\xf1\xf5g\x7f|\xff\xd8\x00\xdf\x16x\xa8\xc3\x074&\x12\xdd"\xc7\xe8\x80\xc7`\x9bA\x00\x19\x8a\xf3Q\x0c"L+\x148\x02\xa4\x01\xd8SQ\x05xk\x8a\x99\t\xd7!U\xe7\xdd\x15\xd0\x00L\xc0\xeb\x93\xfb\x15]\x0f#1Q\xd4\x00\xdc\x8d\xe2\np\x8fs\xd6\xe1\xc2h\xcen&K7g\x92\x84f\xe1b\xa2\xe3\x0e0>2\xc9\xee\x9e\nmo\x92B&S\x13\xcbnD*j\xee3\x886\x0eIB\x14\xca\xee\xf11!\x06\xb2{\x94V\xfc\xbaG}\xc1%\x1f)t\x8f\xa2\x0e\xa6F\x97\x0c\xe8P\x99\x89n\xd0\x18\xe225)\x08\xa1\xae\xf8f\xef.\xeapfb\xbfC\x8e\xaaH(\x08\xccL,\t\xab\xb8\xf1:\x9e(\x1c\x1b5\xc61\xd3\x917\xb1\x8aLJ\x1eN\x85_q\xb8T\x10\xe9\x900\x8ez\x01\x91\xd2Ds[L+\xea\xeeb\xe8D\xc6\xb0\xef\xb1i\\E\nE\xc7&\xe4M\xcc\xb9\x8e\xdc\xe1\xe3n\x84\xe3\xd4\xa83M"\x1d\xfb\xa1\x1cC\x8ab\xb4\xcf\x95Q\t^\xad\x90l\rq\xc0\xc9\xcap\xdf\xa5D\x9d\xaf\xac\xef\xd002\'Hvg"\xca\xae]\xe9\xbf1M\xcej\xc6\x8cB7~\xdf\x8cg\xf0mx4\x99J\xe2t\x0b^\x85\xfb\x1f6\xde\x1d<I\xf6\t\xe4\xfa\xfb\xbe\xfb\xbe\xef\xbe\x8b}wU-\xaf\xdbm\x17\r\xd6\xd6\xe7\xe2\x9c_\xbcrH\x1eQ\xc6\x0e\xd5\x94\x91\x9b2o\xcd\x12\x94\x0e\xfa\xb0\x99/r\xa2\xf9L\x9eFpY\x8a\xab\xe0B\x81\xf3k$\xb8\xfa\x98\xaa\xe80\xc2)\x88qr\t\xa1,Y\x87\x12\xa5\\\xc2I\xc0Z\xc9;?NR0>\xdf\xf3fg@@c\xb5\xc7\x83b\xbb\xa1\x9f\r\xe7l\xf2U(uA\x8d\x8c\xc1\xba\xc2\x1aW\xdeN\x98S\x00\xd7\x94\xe6xfi\xde\x99\xd2l\xcd\x9bP\r\x08g\x07\x7f\xa7Y/DC\xc6`F\x82\xcc\xef\x05\x83YX.<D2\xc2\x01)c\xe4\x18\rq\x1ak\xba\xad\xf5z\xafi\xd26\x1ao\'m\x9d \xe9\xe2\xdc\x15\xe2\xbc\x0b\x88Rm)J\xf6r9\xb2\xa4\xbaB\xc7\xa0\x95W\xf7,\xe4\xe3\xb4m\x8d`\x92\x82\xcb8\x05~2k@\x98\x85I\xdb\xf2Ui\xcak\x8b\xf9\xb4\xc1\xe6\xb4tj+\r\xae\x88H\x85T;XF\x05U~k\xf6\xea$Y\xe8_\xf7\xdc\xcc\x0f\x17c\x80\xa1\x1b\xad\xa7E\xa3\xe5\xfc\x8bZ\xd8\xa7CKF#\xe2\xab\x15;\x8bey\x8fO\x14\x11\x87Qp\x8c\x86l"\x0e0\xe8\xed\x16\xd9\x15P\t\xcf\x8c\xfal!\xa0B\xdd2\xf1\xaa\x95_V\xc1\xe9W4eu`\x96F\xb8\xecI--\xf6\x05<\xbf\x9e\xeb\x90\xaf4\xf5\xec\x15\xba\xbf\xa1)\x8d\x0b4\xc5{wM\xc92\x17\xc6\xd6F\x90\x1f\xa8`\x0c\x10\x18e9\xda\xb6\xb8P\x11\x87.\x94F\xd4\xef\x0b\x18\x1crY\xa0\x17\x82\xb2\xc8TB,{\xdf\x9c\xe9J\x8e\x16}\xab\xe0Q4\xb90R\x074D\x82B\xa7S\x91 d_\x95v\xbe\x86\x99S\xd7\x9f\xaf3Fe\x9f\x99\xab+\xd3\xe2wH\x8e\x08\x1bd\xd5\xdb\xcc\xec\xb7P4\xeb&\xa5#r\xdc\xe9\xa0\xd9\xa6\xea\x1a\x86\xfd\xff\xf0\xe4\xe3\xae\x98|\xce\x1e\x0f\x16\x82\xdc\xf3\xcc"\xae\xd6\xf4\xb5G\xc1\xc6\xdb\xa9p\xceGm\xddlq\xdd[\xfbQ\x9b\xc2\xe1\x03e_\xd0\xb8\xa9\xf0\xd9b\xbe\x1d\xf0\x03\x88>\x9aO\x94\x08\x12\xf1R\xab,\xbf\xf9\xe6\x10tni\xc6e\xac\xfe\xd91j\x11\x82\xd6\x8ax_\xe4\xf0\xa99\xbb\xb1\xc2\xd9g\x8b{sg{\x06_{g\xbb\xda^.Q[;\xc8\xe4\xab\xa5?\x9e\xf8\xf0>\xc8\xde\x81\x83\xd2\x84)Y\xbcMz\x00G\xcd\xee\xec/\x03\xe0c/H\xb7\xfe\x06PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00!\x00\xf2\x9fI\xda\xe9\x00\x00\x00K\x02\x00\x00\x0b\x00\x00\x00_rels/.rels\xad\x92\xc1N\xc30\x0c@\xef|E\xe4\xfb\x9anH\x08\xa1\xa5\xbb \xa4\xdd&4>\xc0$n\x1b\xb5\x8d\xa3\xc4\x83\xee\xef\x89\x90@\x0c\x8di\x07\x8eq\xec\xe7g\xcb\xeb\xcd<\x8d\xea\x8dR\xf6\x1c\x0c,\xab\x1a\x14\x05\xcb\xce\x87\xce\xc0\xcb\xfeiq\x0f*\x0b\x06\x87#\x072p\xa4\x0c\x9b\xe6f\xfdL#J\xa9\xc9\xbd\x8fY\x15H\xc8\x06z\x91\xf8\xa0u\xb6=M\x98+\x8e\x14\xcaO\xcbiB)\xcf\xd4\xe9\x88v\xc0\x8e\xf4\xaa\xae\xeft\xfa\xc9\x80\xe6\x84\xa9\xb6\xce@\xda\xba%\xa8\xfd1\xd25ln[o\xe9\x91\xeda\xa2 gZ\xfc\xca(dL\x1d\x89\x81y\xd4\xef\x9c\x86W\xe6\xa1*P\xd0\xe7]V\xd7\xbb\xfc=\xa7\x9eH\xd0\xa1\xa0\xb6\x9ch\x11S\xa9N\xe2\xcbZ\xbfu\x1c\xdb]\t\xe7\xcf\x8cKB\xb7\xff\xb9\x1c\x9a\x85\x82#wY\tc\xfc2\xd2\'7\xd0|\x00PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00!\x00Du[\xf0\xe8\x00\x00\x00\xb9\x02\x00\x00\x1a\x00\x00\x00xl/_rels/workbook.xml.rels\xad\x92\xc1j\xc30\x10D\xef\xfd\n\xb1\xf7Zv\x12J)\x91s)\x85\\\xdb\xf4\x03\x84\xb4\xb6LlIh\xb7i\xfd\xf7\x11\tM\x1d\x08\xa1\x07\x9f\xc4\x8c\xd8\x99\x07\xbb\xeb\xcd\xcf\xd0\x8b\x03&\xea\x82WP\x15%\x08\xf4&\xd8\xce\xb7\n>wo\x8f\xcf \x88\xb5\xb7\xba\x0f\x1e\x15\x8cH\xb0\xa9\x1f\xd6\xef\xd8k\xce3\xe4\xbaH"\x87xR\xe0\x98\xe3\x8b\x94d\x1c\x0e\x9a\x8a\x10\xd1\xe7\x9f&\xa4As\x96\xa9\x95Q\x9b\xbdnQ.\xca\xf2I\xa6i\x06\xd4W\x99bk\x15\xa4\xad\xad@\xec\xc6\x88\xff\xc9\x0eM\xd3\x19|\r\xe6k@\xcf7*\xe4wH{r\x88\x9cCuj\x91\x15\\,\x92\xa7\xa7*r*\xc8\xdb0\x8b9a8\xcf\xe2\x1f\xc8I\x9e\xcd\xbb\x0c\xcb9\x19\x88\xc7>/\xf4\x02q\xd6\xf7\xeaW\xb3\xd6;\x9d\xd0~p\xca\xd76\xa5\x98\xda\xbf0\xf2\xea\xe2\xea#PK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00!\x00\xaaL\x9a\x94\xc2\x01\x00\x00\xc3\x04\x00\x00\x18\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81\x00\x00\x00\x00xl/worksheets/sheet1.xmlPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00!\x00\x83\x18j%H\x01\x00\x00&\x02\x00\x00\x0f\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81\xf8\x01\x00\x00xl/workbook.xmlPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00!\x00\xaf\xfeX0\x9d\x00\x00\x00\xe3\x00\x00\x00\x14\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81m\x03\x00\x00xl/sharedStrings.xmlPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00!\x00^\xba\xa7\xd3w\x01\x00\x00\x10\x03\x00\x00\x10\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81<\x04\x00\x00docProps/app.xmlPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00!\x00\x90\xe9r\xf4%\x01\x00\x00P\x02\x00\x00\x11\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81\xe1\x05\x00\x00docProps/core.xmlPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00!\x00a]I:O\x01\x00\x00\x8f\x04\x00\x00\x13\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x815\x07\x00\x00[Content_Types].xmlPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00!\x00i\xae\x84\x18\xfb\x01\x00\x00=\x05\x00\x00\r\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81\xb5\x08\x00\x00xl/styles.xmlPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00!\x00\x18\xfaFT\xb0\x05\x00\x00R\x1b\x00\x00\x13\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81\xdb\n\x00\x00xl/theme/theme1.xmlPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00!\x00\xf2\x9fI\xda\xe9\x00\x00\x00K\x02\x00\x00\x0b\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81\xbc\x10\x00\x00_rels/.relsPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00!\x00Du[\xf0\xe8\x00\x00\x00\xb9\x02\x00\x00\x1a\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81\xce\x11\x00\x00xl/_rels/workbook.xml.relsPK\x05\x06\x00\x00\x00\x00\n\x00\n\x00\x80\x02\x00\x00\xee\x12\x00\x00\x00\x00'}

### CSV Output

In [ ]:
df.to_csv('Salaries_new.csv',index=False) # Transform file into .csv file
files.download('Salaries_new.csv')

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. 

__REMEMBER__: This are the normal commands if your are not working in a colab environment!

### Excel Input

In [ ]:
pd.read_excel('pd_other/Excel_Sample.xlsx', sheet_name='Sheet1') #Execution will throw error in colab

FileNotFoundError: ignored

### Excel Output

In [ ]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1') #Execution will throw error in colab

In [ ]:
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

# Series

The first main data type we will learn about for pandas is the Series data type. 

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [ ]:
labels = ['a','b','c'] # List with characters

my_list = [10,20,30] # List with integers

arr = np.array([10,20,30]) # np.array with integers

d = {'a':10,'b':20,'c':30} # Dictionary

**Using Lists**

In [ ]:
pd.Series(data=my_list) # The index is default

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(data=my_list,index=labels) # With defined index

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

**NumPy Arrays**

In [ ]:
pd.Series(arr) # Default indexing

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(arr,labels) # Custom defined index

a    10
b    20
c    30
dtype: int64

**Dictionary**

In [ ]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Data in a Series

A pandas Series can hold a variety of object types:

In [ ]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

## Using an Index within a Series

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [ ]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])    
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [ ]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])    
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [ ]:
ser1['USA']

1

Operations are then also done based on **index:**

In [ ]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

# DataFrames

DataFrames are the workhorse of pandas. We can think of a DataFrame as a bunch of Series objects put together to share the same index.

In [ ]:
from numpy.random import randn
np.random.seed(101)
#This method is called when RandomState is initialized. It can be called again to re-seed the generator.

In [ ]:
ran_data = randn(5,4)


cust_index = ["A", "B", "C", "D", "E"]

cust_columns = index = ["W", "X", "Y", "Z"]

df = pd.DataFrame(ran_data,index=cust_index,columns=cust_columns)
print(f"This is our DataFrame data: {ran_data}", "\n")

NameError: ignored

In [ ]:
df

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

Get column and index names:

In [ ]:
df.columns

Index(['Unnamed: 0', 'a', 'b', 'c', 'd'], dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=4, step=1)

### Get multiple columns

In [ ]:
# Pass a list of column names
df[['W','Z']]
#Take care of two brackets

KeyError: ignored

### Relationship between pd.Series and pd.DataFrame

DataFrame Columns are just Series

In [ ]:
type(df['W'])

KeyError: ignored

**Creating a new column:**

In [ ]:
#creation of a column from addition of coumns "w" and "Y"
df['new'] = df['W'] + df['Y']

KeyError: ignored

In [ ]:
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

**Removing Columns**

In [ ]:
# axis =1 removes column
# axis =0 removes row

df.drop('new',axis=1)

In [ ]:
df.drop('A', axis=0)

### But does this mean that we actually changed our initial DataFrame?!

In [ ]:
# Not inplace unless specified!
df

In [ ]:
df.drop('new',axis=1,inplace=True)

In [ ]:
df

### Selecting Rows

**You can either select rows with .loc[] or with .iloc[]**

In [ ]:
df.loc['A']

**Or select based on the position instead of the label**

In [ ]:
# Indexes start from 0 NOT 1 ---> iloc[2] gives the 3rd row
df.iloc[2]

**Selecting subset of rows and columns**

In [ ]:
df.loc[['A','B'],['W','Y']]

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [ ]:
df

In [ ]:
df>0

In [ ]:
#Boolian indexing
df[df>0]

In [ ]:
df[df['Z']>0]

In [ ]:
df[(df['W']>0) & (df['Y'] > 0)]

## Oh, boy, Oh boy... I really do need a quick... CHALLENGE!

Okay, you are nearly done. In a last step, remove **Vincent** from the table...

## Challenge I

In the pd_other folder, you will find some additional example sheets. Let's try the newly gained knowledge on that!

1) Load the grades.xlsx in a dataframe called **grades_df**

In [ ]:
# Write your code here
from google.colab import files
import pandas as pd
import io

Okay, let's have a quick look at the table head --> **head()**

In [ ]:
# Write your code here
head()

NameError: ignored

**UUUUUWEEEEH**! It seems that the table is missing a column head --> Subject. Rename the column with the appropriate column name **Subject**

In [ ]:
# Write your code here

# Hint 1: df.columns
# Hint 2: https://cmdlinetips.com/2018/03/how-to-change-column-names-and-row-indexes-in-pandas/

In [ ]:
grades_df

Okay, you are nearly done. In a last step, remove **Superman** from the table...

In [ ]:
# Write your code here

And now create a new DataFrame called **best_ever_df** and assign all the subjects from __Wolverine__ where his grades are <= 1

In [ ]:
# Write your code here

# Groupby

The groupby method allows you to group rows of data together and call aggregate functions

In [ ]:
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [ ]:
df = pd.DataFrame(data)
df

Now you can use the **.groupby()** method to group rows together based off of a column name. For instance let's group based off of Company. This will create a DataFrameGroupBy object:

In [ ]:
df.groupby('Company')

You can save this object as a new variable:

In [ ]:
by_comp = df.groupby("Company")

And then call aggregate methods off the object:

In [ ]:
by_comp.mean()

In [ ]:
df.groupby('Company').mean()

More examples of aggregate methods:

In [ ]:
by_comp.min()

In [ ]:
by_comp.max()

In [ ]:
by_comp.count()

In [ ]:
by_comp.describe()

# Missing Data

Let's show a few convenient methods to deal with Missing Data in pandas:

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})
df

In [ ]:
df.dropna()

#default axix=0 --> for rows

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(thresh=2)

In [ ]:
df.fillna(value='FILL VALUE')

In [ ]:
mean_A = df["A"].mean() # Computes the mean of A


df['A'].fillna(value=mean_A)

# Merging, Joining, and Concatenating

There are 3 main ways of combining DataFrames together: **Merging, Joining and Concatenating.**

### Example DataFrames

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])
df1

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 
df2

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])
df3

## Concatenation

Concatenation basically glues together DataFrames. Keep in mind that dimensions should match along the axis you are concatenating on. You can use **pd.concat** and pass in a list of DataFrames to concatenate together:

In [ ]:
pd.concat([df1,df2,df3])

In [ ]:
pd.concat([df1,df2,df3],axis=1)

## Merging

The **merge** function allows you to merge DataFrames together using a similar logic as merging SQL Tables together. For example:

## Example DataFrames

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [ ]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [ ]:
pd.concat([left, right],axis=1)

  key   A   B key   C   D
0  K0  A0  B0  K0  C0  D0
1  K1  A1  B1  K1  C1  D1
2  K2  A2  B2  K2  C2  D2
3  K3  A3  B3  K3  C3  D3

In [ ]:
pd.merge(left,right,how='inner',on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

## Joining
Joining is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [ ]:
right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [ ]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [ ]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

# Operations

There are lots of operations with pandas that will be really useful to you, but don't fall into any distinct category. Let's show them here in this lecture:

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

### Info on Unique Values

In [ ]:
df['col2'].unique()

array([444, 555, 666])

In [ ]:
df['col2'].nunique()

3

In [ ]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

### Selecting Data

In [ ]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['col1']>2) & (df['col2']==444)]
newdf

   col1  col2 col3
3     4   444  xyz

### Applying Functions

In [ ]:
def times2(x):
    return x*2 # Multiplying entries by 2

In [ ]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [ ]:
df['col1'].apply(times2) # Here the magic word is: apply

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [ ]:
df['col1'].sum()

10

In [ ]:
df.sort_values(by='col2') # NOTE: inplace=False by default

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

Find Null Values or Check for Null Values

In [ ]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

# OMG! My head burns...let's have a quick'n dirty challenge to fresh things up

### And to make it interesting let's talk about moooooooney... or with other words about salaries ;-)

We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle.

**Import pandas as pd.**

In [ ]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal**

In [ ]:
# Write your code here

**Check the head of the DataFrame**

In [ ]:
# Write your code here

**Use the .info() method to find out how many entries there are.**

In [ ]:
# Write your code here

Hint:
(1) astype(float) method
df['DataFrame Column'] = df['DataFrame Column'].astype(float)

(2) to_numeric method
df['DataFrame Column'] = pd.to_numeric(df['DataFrame Column'],errors='coerce')

**What is the average BasePay ?**

In [ ]:
# Write your code here

**What is the job title of  Albert Pardini? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Albert Pardini)**

In [ ]:
# Write your code here

**What is the name of highest paid person (including benefits)?**

In [ ]:
# Write your code here

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
# Write your code here

**How many unique job titles are there?**

In [ ]:
# Write your code here

**What are the top 5 most common jobs?**

In [ ]:
# Write your code here

**How many people have the word Chief in their job title?**

#### Hint: Checkout the str.contains method ; - )

In [ ]:
# Write your code here

In [ ]:
# Write your code here